/**
  全体のCSSのCSS設定
**/
body {
  font-family:'GillSans','Rounded-X M+ 2p';
  font-size: 16px;
  color:#000000;
  background-color:#f5f5f5;

}

h1 {
  font-size:70px;
  margin: 0.67em 0;
  text-align: center;
  color:#16a6b6;
  font-family:"GillSans";
}

li{
  font-family:"GillSans";
  font-size:20px;
}
/**
  リンクのCSS設定
**/
a {
  text-decoration: none;
  font-family:'GillSans','Rounded-X M+ 2p';
  font-size:20px;

}

dd{
  font-family:'GillSans','Rounded-X M+ 2p';
}


/**
  リンクをマウスオーバーしたときのCSS設定
**/
a:hover {
  color:#E83828;
}

.container {
  height: 100%;
}

.btn {
  background-color:#171C61;
  color:#fff;
  font-family:'Gill Sans';
  margin-bottom:20px;
}

.btn1{
  background-color:#fff;
  color:#000000;
  font-family:'Gill Sans';
  font-size:25px;
}

.form-control{
  width:450px;

}

p{
  text-align:center;
}
/**
  固定ヘッダーのCSS設定
**/
.mainHeader {
  /* ヘッダーの背景画像 */
 
  overflow: hidden;
  position: relative;
  height:600px;
  background-color:#000;
  padding-top:80px;
}
.mainHeader .inner {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 80px;
  text-align: center;
  z-index: 5;
  background-color: #fff;
}
/**
  サイト名のCSS設定
**/
.mainHeader h1 {
  float: left;
  font-size: 20px;
  line-height: 50px;
}
.mainHeader h1 img {
  display: block;
  float: left;
  height: 50px;
  width: auto;
  margin-right: 10px;
}
/**
  メニューのCSS設定
**/
.mainHeader .mainNav ul {
  float: right;
  line-height: 80px;
}
.mainHeader .mainNav ul li {
  float: left;
}
.mainHeader .mainNav ul li a {
  display: block;
  padding: 0 20px;
}
/**
  ヘッダーのテキスト文のCSS設定
**/
.mainHeader .text {
  margin: auto;
  color: #fff;
  border: 1px solid #fff;
  min-width: 300px;
  max-width: 500px;
  padding: 30px 20px;
  z-index: 1;
}
/**
  ヘッダーのタイトルのCSS設定
**/
.mainHeader .text h3 {
  font-size: 3em;
  margin: 0;
  padding: 0;
  text-align: center;
}

/**
  コンテンツのタイトルのCSS設定
**/
.content > h2 {
  font-size: 70px;
  margin: 0;
  padding: 40px 0;
  text-align: center;
  font-family:'Gill Sans','Rounded-X M+ 2p';
  color:#ee6557;


}
.content >p{
  text-align: center;
  font-size:70px;
  font-family:"Gill Sans";
  color:#777;
}
/**
  コンテンツの横並びのCSS設定
**/
.content .list {
  border-right: 1px solid #eee;
  margin: 0;
  padding:0px 0px 40px 40px;
}
.content .list img {
  width: 100%;
  display: block;
  margin: 0 auto 20px;


}
.content .list h2, .content .list p ,p{
  font-size: 10px;
  margin: 0;
  padding: 0;
  color:#fff;
  font-family:'Rounded-X M+ 2p';
}


.whats-box{
  background-color:#F0BA32;
}
.movie {
  text-align:center;
}
/**
コンテンツタイトルのCSS設定
**/
.content .list h2 {
  margin: 20px 0;
  text-align: center;
}

.mainFooter {
  font-size: 12px;
}
.mainFooter p {
  margin: 0;
  padding: 20px 0;
  text-align: center;
  background-color: #fff;
}



h2{
  font-family:"GillSans";
  font-size:70px;
  color:#171C61;

}


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
 
#container {
    width: 100%;
    height: 100%;
    display: block;
}
 
.cnt {
    padding: 20px;
    border: 2px dotted #009;
    font-size: 24px;
    color: #333;
    background-color: gray;
}

.modal-footer .btn+.btn{
  margin-left:20px;
  margin-bottom:20px;
}


.view {
    width: 1070px;
    height: 570px;
    margin: 10px;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff url(img/bgimg.jpg) no-repeat center center
}
.view .mask, .view .content {
    width: 1070px;
    height: 570px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.view img {
    display: block;
    position: relative
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0;
}
.view p {
    font-family:'Rounded-X M+ 2p';
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center;
    opacity: 0;

}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
    opacity: 0;
}
.view a.info:hover {
    box-shadow: 0 0 5px #000;
}

.view:hover p,
.view:hover a {
  opacity: 1;
}

.view-second img {  
    transition: all 0.2s ease-in;
}
.view-second .mask { 
    background-color: rgba(115,146,184, 0.7); 
    width: 1070px;
    padding: 570px;
    height: 300px;
    opacity: 0;
    transform: translate(265px, 145px) rotate(45deg);
    transition: all 0.2s ease-in-out;
}
.view-second h2 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 40px 0px 40px;
    transform: translate(200px, -200px);
    transition: all 0.2s ease-in-out;
}
.view-second p { 
    transform: translate(-200px, 200px);
    transition: all 0.2s ease-in-out;
}
.view-second a.info { 
    transform: translate(0px, 100px);
    transition: all 0.2s 0.1s ease-in-out;
} 

.view-second:hover .mask { 
    opacity:1; 
    transform: translate(-80px, -125px) rotate(45deg);
}                             
.view-second:hover h2 { 
    transform: translate(0px,0px);
    transition-delay: 0.3s; 
}
.view-second:hover p { 
    transform: translate(0px,0px); 
    transition-delay: 0.4s;
}
.view-second:hover a.info { 
    transform: translate(0px,0px); 
    transition-delay: 0.5s;
}



/**----------------------------------------------------------------------------**/
.view2 {
    width: 300px;
    height: 300px;
    margin: 10px;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff url(img/bgimg.jpg) no-repeat center center
}
.view2 .mask2 , .view2 .content {
    width: 300px;
    height: 300px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.view2 img {
    display: block;
    position: relative
}
.view2 h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 8px;
    padding: 0px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0;
}
.view2 p {
    font-family:'Rounded-X M+ 2p';
    font-size: 6px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center;
    opacity: 0;

}
.view2 a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
    opacity: 0;
}
.view2 a.info:hover {
    box-shadow: 0 0 5px #000;
}

.view2:hover p,
.view2:hover a {
  opacity: 1;
}

.view-third img {  
    transition: all 0.2s ease-in;
}
.view-third .mask2 { 
    background-color: rgba(115,146,184, 0.7); 
    width: 100px;
    padding: 100px;
    height: 300px;
    opacity: 0;
    transform: translate(265px, 145px) rotate(45deg);
    transition: all 0.2s ease-in-out;
}
.view-third h2 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 40px 0px 40px;
    transform: translate(200px, -200px);
    transition: all 0.2s ease-in-out;
}
.view-third p { 
    transform: translate(-200px, 200px);
    transition: all 0.2s ease-in-out;
}
.view-third a.info { 
    transform: translate(0px, 100px);
    transition: all 0.2s 0.1s ease-in-out;
} 

.view-third:hover .mask2 { 
    opacity:1; 
    transform: translate(-80px, -125px) rotate(45deg);
}                             
.view-third:hover h2 { 
    transform: translate(0px,0px);
    transition-delay: 0.3s; 
}
.view-third:hover p { 
    transform: translate(0px,0px); 
    transition-delay: 0.4s;
}
.view-third:hover a.info { 
    transform: translate(0px,0px); 
    transition-delay: 0.5s;
}



