/**
  全体のCSSのCSS設定
**/
body {
  font-family:'GillSans';
  font-size: 16px;
  color:#000000;
  background-color:#fff;

}

h1 {
  font-size:50px;
  margin: 0.67em 0;
  text-align: center;
  color:#000;
  font-family:"GillSans";


}



h3{
  font-size:18px;
}

h4{
  font-size:20px;
  color:#fff;
  padding-bottom:30px;
  line-height:40px
}


li{
  font-family:"GillSans";
  font-size:20px;
  float:left;

}

#nav ul li{   
    display: inline;
    margin-right:8px;
 } 

button{
   display: inline-block;

}

/**
  リンクのCSS設定
**/
a {
  text-decoration: none;
  font-family:'GillSans';
  font-size:20px;
  color:#000;

}

dd{
  font-family:'GillSans';
}


/**
  リンクをマウスオーバーしたときのCSS設定
**/
a:hover {
  color:#696969;
}

.container {
  height: 100%;
}

.btn {
  background-color:#fff;
  color:#000;
  font-family:'Gill Sans';

  font-size:20px;
  display:inline-block;
}

.btn1{
  background-color:#fff;
  color:#000000;
  font-family:'Gill Sans';
  font-size:25px;
}

.form-control{
  width:360px;
  display: inline-block;

}

p{
  text-align:center;
}


/**
  固定ヘッダーのCSS設定
**/
.mainHeader {
  /* ヘッダーの背景画像 */
 
  overflow: hidden;
  position: relative;
  background-color:#000;

}
.mainHeader .inner {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 80px;
  text-align: center;
  z-index: 5;

}
/**
  サイト名のCSS設定
**
.mainHeader h1 {
  float: left;
  font-size: 20px;
  line-height: 50px;
}
.mainHeader h1 img {
  display: block;
  float: left;
  height: 50px;
  width: auto;
  margin-right: 10px;
}
/**
  メニューのCSS設定
**/
.mainHeader .mainNav ul {
  float: right;
  line-height: 80px;
}
.mainHeader .mainNav ul li {
  float: left;
}
.mainHeader .mainNav ul li a {
  display: block;
  padding: 0 20px;
}
/**
  ヘッダーのテキスト文のCSS設定
**/
.mainHeader .text {
  margin: auto;
  color: #fff;
  border: 1px solid #fff;
  min-width: 300px;
  max-width: 500px;
  padding: 30px 20px;
  z-index: 1;
}
/**
  ヘッダーのタイトルのCSS設定
**/
.mainHeader .text h3 {
  font-size: 3em;
  margin: 0;
  padding: 0;
  text-align: center;
}

/**
  コンテンツのタイトルのCSS設定
**/
.content > h2 {
  font-size: 75px;
  color:#4B484D;
  margin: 0;
  padding: 40px 0;
  text-align: center;
  padding-top:70px;
  padding-bottom:10px;
  font-family:'Gill Sans','ヒラギノ角ゴ Std';




}
.content >p{
  text-align: center;
  font-size:70px;
  color:#777;
}
/**
  コンテンツの横並びのCSS設定
**/
.content .list {

  margin: 0;
  padding:0px 0px 40px 40px;
}
.content .list img {
  width: 100%;
  display: block;
  margin: 0 auto 20px;


}
.content .list h2, .content .list p ,p{
  font-size:20px;
  margin: 0;
  padding: 0;
  color:#000;

}

.box-copy{
  position:absolute;
    z-index: 2;

}

.whats-box{
  background-color:#F0BA32;
}
.movie {
  text-align:center;
}
/**
コンテンツタイトルのCSS設定
**/
.content .list h2 {
  margin: 40px 0;
  text-align: center;
  font-size:20px;
}

.mainFooter {
  font-size: 12px;
}
.mainFooter p {
  margin: 0;
  padding: 20px 0;
  text-align: center;
  background-color: #fff;
}

footer a{
  font-size:15px;
}



h2{
  font-family:"GillSans";
  font-size:50px;
  color:#000;

}


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
 
#container {
    width: 100%;
    height: 100%;
    display: block;
}
 
.cnt {
    padding: 20px;
    border: 2px dotted #009;
    font-size: 24px;
    color: #333;
    background-color: gray;
}

.modal-footer .btn+.btn{
  margin-left:20px;
  margin-bottom:20px;
}


.view {

    margin: 10px;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff url(img/bgimg.jpg) no-repeat center center
}
.view .mask, .view .content {
    width: 1070px;
    height: 570px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.view img {
    display: block;
    position: relative
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0;
}
.view p {
 
    font-size: 18px;
    position: relative;
    color: #f5f5f5;
    padding: 10px 20px 20px;
    text-align: center;
    opacity: 0;

}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
    opacity: 0;
}
.view a.info:hover {
    box-shadow: 0 0 5px #000;
}

.view:hover p,
.view:hover a {
  opacity: 1;
}

.view-second img {  
    transition: all 0.2s ease-in;
}
.view-second .mask { 
    background-color: rgba(169,169,169, 0.5); 
    width: 1070px;
    padding: 570px;
    height: 300px;
    opacity: 0;
    transform: translate(265px, 145px) rotate(45deg);
    transition: all 0.2s ease-in-out;
}
.view-second h2 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 40px 0px 40px;
    transform: translate(200px, -200px);
    transition: all 0.2s ease-in-out;
}
.view-second p { 
    transform: translate(-200px, 200px);
    transition: all 0.2s ease-in-out;
}
.view-second a.info { 
    transform: translate(0px, 100px);
    transition: all 0.2s 0.1s ease-in-out;
} 

.view-second:hover .mask { 
    opacity:1; 
    transform: translate(-80px, -125px) rotate(45deg);
}                             
.view-second:hover h2 { 
    transform: translate(0px,0px);
    transition-delay: 0.3s; 
}
.view-second:hover p { 
    transform: translate(0px,0px); 
    transition-delay: 0.4s;
}
.view-second:hover a.info { 
    transform: translate(0px,0px); 
    transition-delay: 0.5s;
}



/**----------------------------------------------------------------------------**/
.view2 {
    width: 300px;
    height: 300px;
    margin: 10px;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff url(img/bgimg.jpg) no-repeat center center
}

.home .view2{
  float: none;
}



.logoutbtn{
  margin-left: auto;

}




.hovbutton {
  display: inline-block;
  width: 150px;
  height: 54px;
  text-align: center;
  text-decoration: none;
  line-height: 54px;
  outline: none;
  box-shadow: 0px 3px 10px #808080;

}
.hovbutton::before,
.hovbutton::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}
.hovbutton,
.hovbutton::before,
.hovbutton::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.hovbutton {
  position: relative;
  z-index: 2;
  background-color: #fff;
  border: 2px solid #333;
  color: #333;
  line-height: 48px;
 margin-top:-7px;
}

.headbutton {
  float:right;

}
.hovbutton::after {
  top: 4px;
  left: 4px;
  width: 138px;
  height: 42px;
  border: 2px solid #333;
  opacity: 0;
}
.hovbutton:hover::after {
  opacity: 1;
}


.Qbutton {
  display: inline-block;
  width: 200px;
  height: 54px;
  text-align: center;
  text-decoration: none;
  line-height: 54px;
  outline: none;
  border: 3.5px solid #000;
  box-shadow: 0px 3px 10px #808080;
}
.Qbutton::before,
.Qbutton::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}
.Qbutton,
.Qbutton::before,
.Qbutton::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;

}

.Qbutton {
  background-color: #fff;

  color: #333;
  line-height: 50px;
}
.Qbutton:hover {
  border-style: dashed;
}

.hide{
  display:none;
}

.mainfooter{
  border-top:1px #000 solid;
  padding:20px;


}

iframe{
  opacity:0.8;
  vertical-align: bottom;
  margin-left:-75px;
}

.copyright{
  text-align: right
}

.modal-footer {
  text-align: center;
}

.black{
 margin-left:70px;
}

.contact-row a{
  text-align: center;
  font-size:25px;


}


.about h2{
  font-size:20px;
  text-align: center;



}
.about p{
  text-align: left;
  font-size:15px;
}
.about img{
  padding-left:70px;
}

.carousel-inner img{
    width: 100%;
}

.question-box h1{
  font-size:20px;

}

.question-textarea.form-control {
width: 100%;
height: 10em;


}



.catch-copy h2{

color: #fff;
font-size: 45px;
font-weight: 600;
padding: 30px;
margin-top: 240px;
}



.modal-body{
  border-bottom-width: 0px;
}

.emailbtn {
  margin-top:10px;

}

.content h1{
  border-bottom: 5px
}

.okinawaimg{
  display: block;
  margin-left:100px;
}
